---
const brandHref = '/';
const brandAlt = 'kzkaed brand';
const brandSrc = '/assets/drop.png';
---

<header class="mx-auto max-w-7xl px-6 py-4">
  <nav class="flex items-center justify-start">
    <a href={brandHref} class="inline-flex items-center" aria-label="kzkaed home">
      <img src={brandSrc} alt={brandAlt} width="50" height="50" loading="eager" decoding="async" class="w-[50px] h-[50px] object-contain" />
    </a>
  </nav>
  
</header>


